src/main/webapp/static/node_modules
node_modules
.idea/
tmp*
*.bak
*.diff
target/
release/
out/
.idea/
.classpath
.project
.settings/
*.iml
.tags*
build_info.properties
*.jar
dependency-reduced-pom.xml
.arcconfig
/**/thrift-java/
/**/.*.swp
*gz
